@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image-slider{
    width: 100%;
    height: 500px;
    background-color: rgb(115, 165, 185);
    padding: 50px;
}
.image-slider h2{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    word-spacing: 5px;
    text-align: center;
    margin-bottom: 30px;
}
.image-slider .container{
    max-width: 1140px;
    margin: auto;
    
}

.image-slider .container .owl-carousel .item{
    margin: 15px;
}

.image-slider .container .owl-carousel .item img{
    border: 5px solid rgb(5, 111, 153);
    border-radius: 10px;
}
.image-slider .owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: 20px;
}
.owl-theme .owl-dots .owl-dot span{
    width: 15px;
    height: 15px;
    border: 2px solid rgb(5, 111, 153);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: rgb(9, 138, 224);
}



@media only screen and (max-width:599px){
    .image-slider{
        width: 100%;
    }
}

@media only screen and (min-width:600px) and (max-width:999px){
    .image-slider{
        width: 100%;
    }
}

